<ion-view view-title="PEGOSA Monitoring">
  <ion-content>

  <div style="background-image: url(img/petronas-01.png); height: 150px; width: 100%; background-size: cover">
    <br/>
    <center><img src="img/logo-01.png" class="img-rounded" height="208" width="125"></center>
  </div>

  	<div class="card">
	  <div class="item item-divider"></div>
	  <div id="chartContainerGPU" style="height: 180px; width: 100%;"></div>
	  <div class="item item-divider"></div>
   	</div>

   	<div class="card">
	  <div class="item item-divider"></div>
	  <div id="chartContainerGPK" style="height: 180px; width: 100%;"></div>
	  <div class="item item-divider"></div>
   	</div>

   	<div class="card">
	  <div class="item item-divider"></div>
	  <div id="chartContainerGPS" style="height: 180px; width: 100%;"></div>
	  <div class="item item-divider"></div>
   	</div>
   	
  </ion-content>
</ion-view>