<ion-view view-title="GPK Critical Operating Parameters">
  <ion-content>
    <div class="list card">
        <table class="table table-bordered">
            <tr class="success">
                <td></td>
                <td>Plant Load (TPH)</td>
                <td>Demethanizer Temperature (degC)</td>
            </tr>
            <tr>
                <td>GPP2</td>
                <td>2FC4003.PV</td>
                <td>2TI4804.PV</td>
            </tr>
            <tr>
                <td>GPP3</td>
                <td>3FC4003.PV</td>
                <td>3TI4804.PV</td>
            </tr>
            <tr>
                <td>GPP4</td>
                <td>4FC4003A.PV</td>
                <td>4TI4804.PV</td>
            </tr>
        </table>
    </div>
  </ion-content>
</ion-view>
