<ion-view view-title="GPK Production">
  <ion-content>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Ethane</center> </td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP1</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>GPP2</td>
            <td>20.8</td>
            <td>2FI6004.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP3</td>
            <td>1.5</td>
            <td>3FI6004.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP4</td>
            <td>20.2</td>
            <td>4FY6004.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>42.6</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Propane</center> </td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP1</td>
            <td>4.2</td>
            <td>1FI151.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP2</td>
            <td>16.4</td>
            <td>2FI6601.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP3</td>
            <td>1.7</td>
            <td>3FI6601.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP4</td>
            <td>16.3</td>
            <td>4FY6601.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>38.6</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Butane</center> </td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP1</td>
            <td>5.0</td>
            <td>1FI152.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP2</td>
            <td>12.0</td>
            <td>2FI6602.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP3</td>
            <td>1.8</td>
            <td>3FI6602.CV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP4</td>
            <td>12.0</td>
            <td>4FI6602A1.PV</td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>44</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>
  </ion-content>
</ion-view>
