<ion-view view-title="GPS Production">
  <ion-content>
  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"><center>Ethane</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP5</td>
            <td>33.9</td>
            <td>5C2_TOT.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP6</td>
            <td>36.5</td>
            <td>6C2_TOT.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>70.4</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"><center>Propane</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP5</td>
            <td>31.2</td>
            <td>506FI0261.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP6</td>
            <td>31.1</td>
            <td>606FI0261.MV </td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>62.3</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"><center>Butane</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Current)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPP5</td>
            <td>21.9</td>
            <td>506FI0252.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>GPP6</td>
            <td>21.8</td>
            <td>606FI0252.MV</td>
            <td></td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>43.7</td>
            <td>0</td>
            <td></td>
        </tr>
    </table>
  </div>
  </ion-content>
</ion-view>
