<ion-view view-title="GPS OEE">
  <ion-content>
    <div class="list card">
        <table class="table table-bordered">
            <tr class="success">
                <td colspan="3"><center>Ethane (MT/H)</center></td>
            </tr>
            <tr>
                <td></td>
                <td>KPBI</td>
                <td>Average 0600hrs</td>
            </tr>
            <tr>
                <td>GPP5</td>
                <td>95.0%</td>
                <td></td>
            </tr>
            <tr>
                <td>GPP6</td>
                <td>95.0%</td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="list card">
        <table class="table table-bordered">
            <tr class="success">
                <td colspan="3"> <center>Propane (MT/H)</center> </td>
            </tr>
            <tr>
                <td></td>
                <td>KPBI</td>
                <td>Average 0600hrs</td>
            </tr>
            <tr>
                <td>GPP5</td>
                <td>96.5%</td>
                <td></td>
            </tr>
            <tr>
                <td>GPP6</td>
                <td>96.5%</td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="list card">
        <table class="table table-bordered">
            <tr class="success">
                <td colspan="3"><center>Butane (MT/H)</center></td>
            </tr>
            <tr>
                <td></td>
                <td>KPBI</td>
                <td>Average 0600hrs</td>
            </tr>
            <tr>
                <td>GPP5</td>
                <td>96.5%</td>
                <td></td>
            </tr>
            <tr>
                <td>GPP6</td>
                <td>96.5%</td>
                <td></td>
            </tr>
        </table>
    </div>
  </ion-content>
</ion-view>
