<ion-view view-title="GPS Critical Operating Parameters">
  <ion-content>
    <div class="list card">
        <table class="table table-bordered">
            <tr class="success">
                <td></td>
                <td>Plant Load (TPH)</td>
                <td>Demethanizer Temperature (degC)</td>
            </tr>
            <tr>
                <td>GPP5</td>
                <td>501FC0103.MEAS</td>
                <td>504TI0113.PNT</td>
            </tr>
            <tr>
                <td>GPP6</td>
                <td>601FC0103.MEAS</td>
                <td>604TI0113.PNT</td>
            </tr>
        </table>
    </div>
  </ion-content>
</ion-view>
