<ion-view view-title="GPU Production (TPH)">
  <ion-content>
  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Ethane (MT/H)</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Currrent)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPK</td>
            <td>42.6</td>
            <td>70.0</td>
            <td></td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>70.4</td>
            <td>75.0</td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>112.9</td>
            <td>145.0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Propane (MT/H)</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Currrent)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPK</td>
            <td>38.6</td>
            <td>65.0</td>
            <td></td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>62.3</td>
            <td>64.0</td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>100.9</td>
            <td>129.0</td>
            <td></td>
        </tr>
    </table>
  </div>

  <div class="list card">
    <table class="table table-bordered">
        <tr class="success">
            <td colspan="4"> <center>Butane (MT/H)</center></td>
        </tr>
        <tr>
            <td></td>
            <td>KPBI</td>
            <td>ACTUAL (Currrent)</td>
            <td>Average 0600hrs</td>
        </tr>
        <tr>
            <td>GPK</td>
            <td>30.9</td>
            <td>44</td>
            <td></td>
        </tr>
        <tr>
            <td>GPS</td>
            <td>43.7</td>
            <td>42</td>
            <td></td>
        </tr>
        <tr>
            <td>Total</td>
            <td>74.5</td>
            <td>86</td>
            <td></td>
        </tr>
    </table>
  </div>
  </ion-content>
</ion-view>
